In [2]:
import pandas as pd
from matplotlib import pyplot as plt
import sqlite3

In [3]:
df_hitm_ps = pd.read_hdf("Datos HITM_PS.hdf", key="df")

In [29]:
# strip whitespace from headers
df_hitm_ps.columns = df_hitm_ps.columns.str.strip()
con = sqlite3.connect("database/ALUAR.db")
# drop data into database
df_hitm_ps.to_sql("HITM_PS", con)
con.close()

In [4]:
df_db_5mn = pd.read_hdf("db_5mn.hdf", key="df")

In [24]:
df_db_5mn.columns = df_db_5mn.columns.str.strip()
con = sqlite3.connect("database/ALUAR.db")
# drop data into database
df_db_5mn.to_sql("5mn", con)
con.close()

In [5]:
df_hitm_ps.head()

,FT_TURNO,TU_SEMI_TURNO,INDPOT,N_FECHA_SMTU,CUBA,N_CUBA,N_VIDA,X_MODELO,POTSTATE,AGEBSQ,...,V_ULT_NA,C_DETE_CATODO,K_TURNOS_DETE_CATODO,SN_REAR_CON_METAL,V_TFLUO,V_ULT_CU,K_COL_METAL_PUENTE,K_AGR_METAL_PUENTE,N_PUENTE_METAL,V_ACD
0,2019-06-01,1,1,2019060111,501,401,3,AP22.0,3,2236.9167,...,60.0,0.0,0.0,NaN,1.5,0.0,NaN,NaN,NaN,NaN
1,2019-06-01,1,2,2019060111,502,402,3,AP22.0,3,1987.0000,...,80.0,0.0,0.0,NaN,1.5,0.0,NaN,NaN,NaN,NaN
2,2019-06-01,1,3,2019060111,503,403,3,AP22.0,3,2409.7083,...,56.0,0.0,0.0,NaN,1.5,0.0,NaN,NaN,NaN,NaN
3,2019-06-01,1,4,2019060111,504,404,3,AP22.0,3,2309.0000,...,85.0,1.0,3847.0,NaN,1.5,0.0,NaN,NaN,NaN,NaN
4,2019-06-01,1,5,2019060111,505,405,4,AP22.0,3,1004.0417,...,70.0,0.0,0.0,NaN,1.5,16.0,NaN,NaN,NaN,NaN

In [6]:
df_db_5mn.head()

,INDPOT,DH5MN,IMFC,UMFC,RMFC,RKFC,RCMFC,RDEMFC,RCFC,RCACFC,...,VOLTAGE_BEAM,POTMICRO_LOCAL_FC,BEAM_MANUAL_FC,INTERRUPT_CYC,INSTABILITY,ULTRA_FAST_FEEDING,NANOCHA,ANODE_RECOVER,POT_TENDING,CUBA
0,1,2020-07-11 06:51:37,219.9,4.316,12.181,12.04,0.0,0.0,0.0,0.34,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,7001
1,1,2020-07-11 06:56:37,218.9,4.294,12.116,12.04,0.0,0.0,0.0,0.34,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,7001
2,1,2020-07-11 07:01:39,212.6,4.179,11.827,12.04,0.0,0.0,0.0,0.34,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,7001
3,1,2020-07-11 07:07:40,214.7,4.224,11.954,12.03,0.0,0.0,0.0,0.33,...,0.0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,7001
4,1,2020-07-11 07:12:40,216.4,4.267,12.099,12.03,0.0,0.0,0.0,0.33,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,7001